@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

.productData {
    grid-column-start: 3;
    /* background-color: blueviolet; */
    /* display:flex;
    flex-direction: column; */
    width: 500px;
}

.brand {
    font-size: 18px;
    color: rgb(255, 136, 0);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
}

.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 45px;
}

.description {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: rgb(138, 136, 136);
    margin-bottom: 25px;
}

.priceContainer {
    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    /* margin-bottom: 15px; */
}

.actualPrice {
    font-size: 45px;
    font-family: 'Dongle', sans-serif;
}

.discountPrice {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: rgb(255, 136, 0);
    background-color: rgb(250, 215, 150);
    border-radius: 5px;
    /* padding: 2px; */
    font-family: 'Dongle', sans-serif;
    max-height: 35px;
    width: 45px;
    margin-left: 15px;
}

.priceOg {
    /* background-color: palegreen; */
    font-family: 'Dongle', sans-serif;
    text-decoration: line-through;
    color: gray;
    font-size: 30px;
    margin-bottom: 15px;
}

.itemsButtons {
    display: flex;
    flex-direction: row;
}

.cartButton {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    margin-left: 25px;
    height: 60px;
    width: 250px;
    /* padding: 20px 85px; */
    background-color: rgb(255, 136, 0);
    color: white;
    text-align: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cartButton:active {
    transform: scale(0.9);
}

.cartButton:hover {
    background-color: #ff6a06;
    box-shadow: 0px 15px 20px rgba(329, 46, 11, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/* .cartIcon {
    margin-right: 30px;
} */

.buttonsContainer {
    display: flex;
    /* justify-content:left; */
    align-items: center;
    /* background-color: royalblue; */
}

.cajaBtn {
    display: flex;
}

.cantItemsMinus {
    max-height: 65px;
    border: none;
    padding: 15px 36px;
    border-radius: 8px 0px 0px 8px;
    font-size: 25px;
    font-weight: bolder;
    color: orange;
    background-color: rgb(235, 233, 233);
    transition-duration: 0.5s;
    /* background-color: royalblue; */
}

.cantItemsPlus {
    max-height: 65px;
    border: none;
    padding: 15px 36px;
    border-radius: 0px 8px 8px 0px;
    font-size: 25px;
    font-weight: bolder;
    color: orange;
    background-color: rgb(235, 233, 233);
    transition-duration: 0.5s;
}

.cantItemsMinus:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(255, 136, 0);
}
.cantItemsPlus:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(255, 136, 0);
}

.items {
    padding: 17.5px;
    background-color: rgb(235, 233, 233);
    font-size: 18px;
    font-weight: bolder;
}


@media only screen and (min-width:320px) and (max-width:568px){
    .productData {
        display: flex;
        flex-direction: column;
        text-align: center;
    }   

    .brand {
        display: flex;
        justify-content: left;
        font-size: 24px;
        margin-left: 15px;

    }

    .priceContainer {
        display: flex;
        justify-content: center;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: column;
    }

    .cajaBtn {
        width: 100%;
    }

    .cantItemsMinus {
        width: 50%;
    }
    .cantItemsPlus {
        width: 50%;
    }

    .cartButton {
        display: flex;
        justify-content: center ;
        margin-top: 15px;
        width: 100%;
        margin-right: 25px;
    }

}