.imgPreContainer {
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbContainer {
    /* background-color: red; */
    /* margin-bottom: 100px; */
    display: flex;
    justify-content: space-around;
}

.previewImg {
    height: 450px;
    width: 450px;
    border-radius: 10px;
    margin-bottom: 25px;
} 

.thumbnail {
    cursor: pointer;
    height: 85px;
    width: 85px;
    border-radius: 5px;
    /* margin-left: 25px; */
    margin: 12px;
}

.thumbnail:hover {
    border: solid 4px #f66917;
    opacity: 0.5;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .imgPreContainer{
        display: block;
    }

    .previewImg {
        margin-top: 50px;
        width: 100%;
    }   
}