@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.containerFlex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.pages {
    margin-left: 120px;
}

.user{
    margin-left: 450px;
}

.user:hover {
    cursor: pointer;
}

.navLinks{
    margin-left: 15px;
    text-decoration: none;
    color: rgb(170, 168, 165);
}

.cartIcon {
    margin-right: 15px;
    margin-top: 15px;
}

.cartIcon:hover {
    cursor: pointer;
}

.itemsCart {
    position: absolute;
    margin-left: 18px;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    border-radius: 20px;
    font-size: 12px;
    justify-content: center;
    background-color: orange;
    color: white;
} 

.logo {
    margin-left: -125px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 48px;
    color: black;
}

.navLinks:hover{
    text-decoration: underline;
}

.profilePic {
    height: 45px;
    width: 45px;
    border-radius: 30px;
}

.profilePic:hover {
    cursor: pointer;
    border: solid 2px orange;
}

.hrNav {
   width: 65%; 
   margin-top: 40px;
   margin-bottom: 80px;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .containerFlex {
        display: block;
        margin-bottom: -30px;
    }
    
    .logo {
        padding-left: 70px;
        position: absolute;
        /* float: left; */
        top: 28px;   
        /* margin-bottom: -50px; */ 
        /* margin-right: 60px;   */
    }

    .hrNav {
        display: none;
    }

    .user {
        display: block;
        position: absolute;
        top: 10px; 
        right: 20px;
        /* float: right; */
        margin-right: 50px;
        margin-bottom: -60px;
    }

    .profilePic {
        position: absolute;
        top: 14px;
        height: 35px;
        width: 35px;
        margin-left: 450px; 
    }

    /* .itemsCart {
        display: block;
        float: left;
    } */

    svg{
        height: 20px;
        width: 138;
    }

	.navLinks{
        display: none;
	}
}
