 .sideNv {
     display: flex;
     justify-content: space-around;

 }
 
 a {
     position: relative;
     text-decoration: none;
     color: rgb(170, 168, 165);
     letter-spacing: 0.5px;
     padding: 0 10px;
 }

 a:hover{
     cursor: pointer;
 }

a:hover::after {
    width: 100%;
}

 a::after {
     content: "";
     position: absolute;
     background-color: orange;
     height: 3px;
     width: 0;
     left: 0;
     bottom: -10px;
     transition: 0.3s;
 }