@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container {
    display: grid;
    grid-template-columns: 15% 35% 35% 15% ;
    /* justify-items: center; */
}


@media only screen and (min-width:320px) and (max-width:768px){
	.container{
		display: flex;
        flex-direction: column;
        justify-content: center;
	}
}

