.superContainer {
    position: absolute;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px rgb(93, 91, 91);
    text-align: left;
}

.title {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.hrCart {
    width: 100%;
}

.itemBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemData {
    text-align: center;
}


.delete {
    border:none;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    padding: 4px 8px;
}

.delete:hover {
    cursor: pointer;
    background-color: rgb(240, 50, 50);
}

.cartThumbnail {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border-radius: 5px;
}

.info {
    margin-left: 50px;
    width: 100px;
}

.btnCheckout {
    margin-top: 30px;
    /* margin-left: 50px; */
    font-size: large;
    color: white;
    padding: 20px 85px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 136, 0);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btnCheckout:hover {
    background-color: #ff6a06;
    box-shadow: 0px 15px 20px rgba(329, 46, 11, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.emptyCart {
    text-align: center;
    color: rgb(144, 142, 142);
    margin-top: 60px;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .superContainer{
        position: absolute;
    }
    
    .cartContainer{
        height: 300px;
        width: 450px;
        position: absolute;
        margin-left: -385px;
    }
    
    .itemBox {
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .btnCheckout{
        border-radius: 10px;
        margin-top: 50px;
        margin-left: -44px;
        padding: 20px 180px;
    }


}